* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	cursor: pointer;
}
a {
	color: var(--clr-primarylink);
	text-decoration: none;
}
html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
body {
	height: 100%;
}
input {
	border: 0;
	display: inline;
	background: none;
	color: var(--clr-primarytext);
	padding: 0.2rem;
}
